<div class="view" id="home">

  <h1>Almond House Publishing</h1>

  <div class="display">

    <p>
      Almond House Publishing develops original games, software, books, and other creative works that bring imagination and technology together. We believe great ideas deserve to be brought to life and experienced by others. As our vision continues to expand, Realms & Wires will serve as the home for our creative work: a dedicated space to discover new worlds, practical tools, and inspiring possibilities. Every project we release helps build a company dedicated to meaningful creativity and purposeful design.
    </p>

  </div>

  {% include "partials/listing.html" %}

</div>