@media (max-width: 599px) {
  h1 {
    letter-spacing: 2.5px;
    font-size: 2.5rem;
    margin: -6px 0;
  }
  .listing {
    gap: var(--bump-f);
    padding: var(--bump-f);
  }
  .listing-item {
    font-size: small;
  }
}