<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Almond House Publishing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/break.css') }}">
</head>
<body>

  <div class="content">

    <header>

      {% include "partials/header.html" %}
    
    </header>

    <main>

      {% include "views/" ~ view %}
    
    </main>

    <footer>

      {% include "partials/footer.html" %}
    
    </footer>

  </div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>